
body:has(.nav_items.active){
    overflow-y: hidden;
}
.nav-shadow-wrapper{
    width: 100vw;
    position: absolute;
    top:96px;
    left: 0;
    z-index: 999;
    background-color: var(--shadowColor);
    opacity: 0;
    height: 0px;
    transition: .5s opacity;
}
.nav-shadow-wrapper.active{
    opacity: 1;
    height: 100dvh;
}

.navbar{
    display: grid;
    grid-template-columns: 5rem 2fr 4fr 2fr 5rem;
    height: 6rem;
    transition: .5s all;
}


.navbar img{
    width: 4rem;
    object-fit: cover;
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column: 2/3;
    text-align: center;
}

.logo img{
    margin:0 20px 0 10px;
}

.logo_txt{
    border-top: 4px solid #e0e0e0;
    border-bottom: 4px solid #e0e0e0;
}

.logo_txt h3{
    margin: 0;
    font-family: 'Rubik Bubbles', system-ui;
}

.nav_items ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
    height: 100%;
}

.nav_items ul li{
    list-style-type: none;
    text-align: center;
}

.nav_items ul li a{
    color: #111;
}



.nav_icons ul{
    margin: 0;
    padding-right:20px;
    display:flex;
    gap: 5px;
    
}

.nav_icons ul li{
    float: right;
    list-style-type: none;
    padding: 0 15px;
}
.nav_items ul li a{
    font-size: 1.1rem;
    letter-spacing: 1.05px;
}

.mobile-menu-icon{
    display: none;
}

.hover_menu{
    display: flex;
}

.overlay_parent{
    position: relative;
}

.overlay_items{
    position: absolute;
}
nav ul li a.active,.nav_items ul li a:hover{
    color: var(--primaryBGColor) !important;
}

@media screen and (max-width:900px){
    .navbar{
        display: grid;
        grid-template-columns: 0rem 2fr 4fr 0rem;
        height: 6rem;
        position: relative;
    }

    .logo_txt h3{
        margin: 0;
        font-family: 'Rubik Bubbles', system-ui;
    }

    .navbar img{
        width: 3rem;
    }

    .mobile-menu-icon{
        display: block;
    }

    .nav_items{
        display: block;
        position: absolute;
        top: 96px;
        right: -100%;
        background-color: #fff;
        width: fit-content;
        z-index: 999;
        transition: .2s all;
        width: 70%;
    }
    .nav_items ul li{
        padding: 10px 20px;
        display: flex;
    }

    .active{
        right: 0%;
    }

    .nav_items ul{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 20px 0px;
        gap: 20px;
        height:calc(100dvh - 96px);
        z-index: 990;
    }

    .nav_icons ul li{
        float: right;
        list-style-type: none;
        padding: 0 10px;
    }

    .accordion-item{
        border: none !important;
        text-decoration: underline;
    }

    .accordion-header{
        outline: none !important;
        background: #fff !important;
    }

    .accordion-button:not(.collapsed){
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .accordion-button:focus{
        border-color: #fff !important;
    }
}
.search-wrapper{
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-wrapper button{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    transform: translateY(2px);
    padding:  16px;
    border-radius: 50%;
    transition: .3s all;
    color: var(--color2);
    background-color: var(--color);
    border:none;
}
.search-wrapper button:hover{
    color: var(--color);
    background-color: var(--primaryBGColor);
}

.search-wrapper .custom-input-wrapper,.search-wrapper input{
    border-radius: 60px;
    
}
.search-wrapper input{
    padding: 10px 15px!important;
}
.search-wrapper .custom-input-wrapper label{
    gap: 0px;
}
.custom-search-model .modal-content {
    border-radius: 120px !important;
    background-color: transparent !important;
}
.custom-search-model-body.modal-body {
    padding: 0px !important;
    margin:0px !important;
    
    background-color: transparent;
}

@media (max-width:420px) {

    .navbar h3{
        display: none;
    }
    .navbar span{
        display: none;
    }
    .navbar  ul{
        padding-left: 0px;
    }

}